/* Custom styles for the header */
.logo {
  width: 42px;
  height: 36px;
}

.bi-question-circle-fill {
  color: #a27b5c;
}

.border-bottom {
  border-color: #eee;
}

/* Title Section */
.header-title {
  font-family: "Calistoga-Regular", Helvetica, sans-serif;
  color: #666666;
  font-size: 36px;
  margin: 0;
}

.retry-btn {
  border-color: #a27b5c;
  color: #a27b5c;
  border-radius: 20px;
}

.retry-btn:hover {
  background-color: #a27b5c;
  color: #fff;
}

/* Styling for the three rectangles */

.rectangle {
  background-color: #f7f3ef;
  padding: 20px;
  height: 100%;
  margin-bottom: 10px;
}

.items-needed {
  background-color: #f9f4ef;
}

.cooking {
  background-color: #f2eee9;
  text-align: center;
}

.serving {
  background-color: #eae2db;
  text-align: center;
}

/* Title and Text Styles */
.items-title {
  font-family: "Calistoga-Regular", Helvetica, sans-serif;
  color: #a27b5c;
  font-size: 18px;
  margin-bottom: 15px;
}

.ingredients-list .list-group-item {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  font-family: "DM Sans", sans-serif;
}

.ingredients-list .list-group-item strong {
  font-size: 18px;
  color: #666666;
}

.ingredients-list .list-group-item p {
  font-size: 14px;
  color: #999999;
}

.add-ingredient {
  color: #a27b5c;
  font-weight: bold;
  text-decoration: none;
}

.cooking h5,
.serving h5 {
  font-family: "Calistoga-Regular", Helvetica, sans-serif;
  font-size: 18px;
  color: #a27b5c;
}

.cooking p,
.serving p {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  color: #999999;
}
